.example-form {
    max-width: 500px;
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.example-full-width {
    width: 100%;
}

.change-password-btn-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}