<div mat-dialog-content style="display: flex;justify-content: center;">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>
                Current Password
            </mat-label>

            <input #oldPassword (input)="inputChange('oldPassword', oldPassword.value)" matInput
                placeholder="Current Password" type="password" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>
                New Password
            </mat-label>

            <input #newPassword (input)="inputChange('newPassword', newPassword.value)" matInput
                placeholder="New Password" type="password" autocomplete="off">
        </mat-form-field>

        <div class="change-password-btn-container">
            <button mat-raised-button class="change-password-btn" (click)="changePassword()">
                Change password
            </button>
        </div>

        <mat-list role="list">
            <p *ngFor="let error of requestMessages$.value">
                <mat-list-item role="listitem">
                    {{error}}
                </mat-list-item>
                <mat-divider></mat-divider>
            </p>
        </mat-list>

        <div mat-dialog-actions>
            <button mat-button mat-dialog-close>Close</button>
        </div>
    </form>
</div>