<div class="home-content">
    <p class="home-paragraph">
        IBDB is your library for endless exploration into the world of books. Here, you can discover a wealth of
        information
        about books, authors, and their works. Whether you're an avid reader, a student, or a researcher, IBDB provides
        you
        access to the treasure trove of knowledge that books offer.
    </p>


    <p class="explore-paragraph">Explore further:</p>

    <div class="login-container">
        <a class="signin-link" routerLink="signin">Sign in</a>

        <a class="signup-link" routerLink="signup">Sign up</a>
    </div>

</div>