<p>
    <mat-toolbar color="primary">
        <!-- <span class="example-spacer"></span> -->

        <a button mat-button routerLink="books" class="reader-navbar-items" routerLinkActive="is-active">
            Books
        </a>

        <a button mat-button routerLink="authors" class="reader-navbar-items" routerLinkActive="is-active">
            Authors
        </a>

        <a button mat-button routerLink="genres" class="reader-navbar-items" routerLinkActive="is-active">
            Genres
        </a>

        <span class="space-btn"></span>

        <mat-icon routerLink="profile" class="profile-icon reader-navbar-items" routerLinkActive="is-active">
            account_circle
        </mat-icon>

    </mat-toolbar>
</p>

<router-outlet></router-outlet>